{{> head }}
{{> nav }}
<h3> login</h1>
<form class="ui form" action="/login" method="post"  >
  <div class="field">
    <label>Email</label>
    <input type="email" name="email">
    <label>Contraseña</label>
    <input type="text" name="password">
  </div>
  <button class="ui button" type="submit">Submit</button>
</form>