{{> head }}
{{> nav }}
<h3>Signup</h3>
<form class="ui form" action="/signup" method="post"  >
  <div class="field">
    <label>email</label>
    <input type="email" name="email">
    <label>Contraseña</label>
    <input type="text" name="password">
  </div>
  <button class="ui button" type="submit">Submit</button>
</form>