<div class="ui menu">
    <a class="item" href="/login"> login</a>
    <a class="item" href="/productos"> products  list </a>
    <a class="item" href="/productos/upload"> upload product</a>
    <a class="item" href="/signup"> signup</a>
  </div>